---
title: 団員ページ
layout: layouts/base.njk
permalink: private/index.html
noindex: true
---

<p>ページが切り替わらない場合は<a href="https://tbsk-orch-private.wixsite.com/website" aria-label="TBSK管弦楽団の団員専用ページ">こちら</a></p>
<script>
  window.location.href = "https://tbsk-orch-private.wixsite.com/website";
</script>
