---
title: 団員募集
layout: layouts/base.njk
description: 団員の募集状況について
permalink: boshu.html
---

<script type="text/javascript" src="./js/adrs.js"></script>
<h2>団員募集</h2>
<p>TBSK管弦楽団では、一緒に演奏してくださる団員を募集しております。<br /></p>
<p>
  当団の活動は土曜と日曜、東京都/神奈川県内で行っております。<br />
  演奏会4~5ヶ月前より月約3回、演奏会直前は毎週のペースでの練習となります。<br />
  興味をお持ちになった方は以下を記載の上、TBSK管弦楽団執行部
  <script>
    ShowAdrs(0);
  </script>
  <noscript><img src="./images/address/adrs0.png" height="25px" alt="メールアドレス" /></noscript>
  までご連絡ください。
</p>
<ol>
  <li>お名前、年齢</li>
  <li>所属大学または職業</li>
  <li>楽器</li>
  <li>経験年数</li>
  <li>所属団体</li>
</ol>
<p>ご応募をお待ちしております。</p>
<h3>募集状況(2020/09)</h3>
<div style="overflow-x: scroll">
  <table>
    <thead>
      <tr>
        <th>パート</th>
        <th>Fl</th>
        <th>Ob</th>
        <th>Cl</th>
        <th>Fg</th>
        <th>Hr</th>
        <th>Trp</th>
        <th>Trb</th>
        <th>Tuba</th>
        <th>Perc</th>
        <th>Vn</th>
        <th>Va</th>
        <th>Vc</th>
        <th>Cb</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>定員</td>
        <td>6</td>
        <td>5</td>
        <td>6</td>
        <td>5</td>
        <td>12</td>
        <td>7</td>
        <td>5</td>
        <td>1</td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>募集状況</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
        <td>×</td>
        <td>△</td>
        <td>△</td>
        <td>△</td>
        <td>△</td>
      </tr>
    </tbody>
  </table>
</div>

◎ 募集中, △ 要相談, × 募集を締め切りました
