---
title: 今後の演奏会のご案内
layout: layouts/base.njk
permalink: concert.html
eleventyComputed:
  description: 次回の演奏会({{ ((upcoming | first)).title }})の日程・曲目・チケット情報
  og_image: "{{ site.url }}{{ ((upcoming | first).images) | first }}"
---

<h2>今後の演奏会のご案内</h2>
{% for concert in upcoming %}
<h3 id="{{ concert.id }}">{{ concert.title }}</h3>
<div class="concert">
  <div class="box">
    <div style="width: 300px">
      {% for image in concert.images %}
      <a href="{{ image }}"><img src="{{ image }}" width="300px" alt="{{ concert.title }}のチラシ画像" /></a>
      {% endfor %}
    </div>
    <div class="concert-desc">
      {% for piece in concert.program %}
      <p class="font-size-lg">{{ piece | nl2br | safe }}</p>
      {% endfor %}
      <p>
        {% if concert.venue_link %} 於：<a href="{{ concert.venue_link }}">{{ concert.venue_name }}</a><br />
        {% elif concert.venue_name %} 於：{{ concert.venue_name }}<br />
        {% endif %} {% if concert.conductor %} 指揮：{{ concert.conductor }}<br />
        {% endif %} 日時：{{ concert.datetime | nl2br | safe }}<br />
        {% if concert.other_desc %} {{ concert.other_desc | nl2br | safe }}<br />
        {% endif %}
      </p>
    </div>
  </div>
  {{ concert.notes | safe }}
</div>
{% endfor %}
