---
title: ホーム
layout: layouts/base.njk
permalink: index.html
---

<!-- no main content found -->
<h3>YouTubeで動画公開中</h3>
<div class="youtube-container"><iframe class="youtube" src="https://www.youtube.com/embed/videoseries?list=PLXEajGQu1KXTnTmRg2u71R_BetPp5bZET&playsinline=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe></div>
<p><a style="font-size: 16px" href="https://www.youtube.com/channel/UCE7R2L16ql4Kt3fXSDr-T1w">TBSK管弦楽団 YouTube公式チャンネル</a></p>

<h2>お知らせ</h2>
<h3>第16回定期演奏会のチケット販売などの情報を更新しました。(2025/05/01)</h3>
<p>詳しくは<a href="./concert.html#c20250721">今後の演奏会</a>をご覧ください。</p>
<h3>第16回定期演奏会の曲目などの情報を更新しました。(2024/12/01)</h3>
<p>詳しくは<a href="./concert.html#c20250721">今後の演奏会</a>をご覧ください。</p>
<h3>公開中の演奏動画・録音ページを公開しました(2019/08/28)</h3>
<p><a href="./video.html">公開中の演奏動画・録音</a>で、これまでの当団の演奏の一部を視聴できます。</p>
<h3>ホームページを移転いたしました(2017/02/25)</h3>
<p>TBSK管弦楽団のホームページを移転いたしました。新しいアドレスは、<br /><a href="https://tbsk-orch.com/">https://tbsk-orch.com/</a> (当ページ)<br />となっております。今後とも皆様に情報を発信していきたいと思います。よろしくお願いいたします。</p>
<p>
  <a href="https://twitter.com/tbsk_orchestra" target="blank"><img src="./images/tw_logo.png" height="30px" alt="TBSK twitter account" /></a>
  <a href="https://facebook.com/Tbskorch" target="blank"><img src="./images/fb_logo.png" height="30px" alt="TBSK Facebook account" /></a>
  <a href="https://www.instagram.com/tbsk_orchestra/" target="blank"><img src="./images/ig_logo.png" height="30px" alt="TBSK Instagram account" /></a>
  最新の情報を<a href="https://twitter.com/tbsk_orchestra" target="blank">Twitter</a>, <a href="https://facebook.com/Tbskorch" target="blank">Facebook</a>, <a href="https://www.instagram.com/tbsk_orchestra/">Instagram</a>でお届けしております。あわせてご覧ください。<br />
</p>
