---
title: TBSK管弦楽団とは
layout: layouts/base.njk
description: TBSK管弦楽団の紹介
permalink: shokai.html
---

<h2>TBSK管弦楽団とは</h2>
<div class="concert">
  <div style="text-align: center">
    <img class="pnf" src="./images/tbsklogo.png" width="330px" alt="TBSK Logo" />
  </div>
  <div>
    <p>TBSK管弦楽団は2011年8月に発足のオーケストラです。TBSKは、Technical and Broad Sound by Kinds of People の略で、演奏技術と幅の広い人間関係を互いに高め合って音楽を作っていきたい、という思いからの命名です。団員などは「てばさき(手羽先)」という愛称で親しんでいます。(団の名称を決める際にちょうど食べていたものが手羽先だったことからとか...)。ぜひとも手羽先オケという呼び名で皆様に覚えていただければと思います。</p>
    <br />
    <p>現在団員数は140名あまりで、20~30代の若手社会人および現役大学(院)生とで構成されています。当団は特定の母体や出自をもつオーケストラではないため、団員の出身大学・オーケストラも様々です。いろいろな経験をしてきた出身者が集うことで、団員それぞれが持つ多様な観点・個性をお互いにぶつけ、磨きあいながら日々音楽と向きあうことができています。</p>
    <p>当団の活動の理念は、「既存楽団と一線を画した『新奇性』の追求」です。特に、当団の定期演奏会では、先に国(地域)・種類・時代などのテーマを設定してプログラムを決めることで、独創的な演奏会を作りだしてきました。このようなプログラム設定方法を取ることで、1つの演奏会が1つの文化的統一感をもたらし、曲に対する理解が深まり作曲家に対する敬愛がうまれると考えています。</p>
    <p>
      この他にも、当団ではアマチュアオーケストラとして新奇性の高い公演を企画して参りました。定期演奏会のほかに、室内楽演奏会などを積極的に行い、2019年4月30日/5月1日には2日連続4公演での室内楽-オーケストラ企画(フェスティバル公演)を敢行しました。他にも、鎌倉オペラ様との「アンドレアシェニエ」、川崎市民オペラ様との「こうもり」、立川市民オペラ様との「カヴァレリア・ルスティカーナ」公演に携わりました。外国人演奏者との交流も積極的に行っており、2015年12月にはイルジー・ハブリーク氏(当時チェコ・フィルハーモニー管弦楽団ホルン奏者)を、2019年12月にはジュリアーノ・アドルノ氏(イタリア/グロッセート音楽院およびファウスト・トレフランカ音楽院ピアノ科講師)を招へいし、特別演奏会を開催いたしました。2017年10月にはオーストリア・アイゼンシュタットのエスターハージー城ウィーンホールにて、2018年8月にはチェコ・プラハで開催された夏のプラハ音楽祭(プラハクラシックス)に招待され、チェコ・フィルハーモニー管弦楽団・プラハ放送交響楽団のメンバーとの公演を行いました。現在は感染症等の終息を待って、イタリア・トスカーナ州オルベテッロで行われるピアノフェスティバルへの参加を計画しております。
    </p>
  </div>
</div>
<h3>役員一覧</h3>
<table>
  <tr>
    <th>団長</th>
    <td>和歌山 彰太</td>
    <th>インスペクター</th>
    <td>岸本 史直</td>
  </tr>
</table>
