---
title: 公開中の演奏動画・録音
layout: layouts/base.njk
description: YouTube で公開中の演奏動画・録音の一覧
permalink: video.html
---

<p><a style="font-size: 16px" href="https://www.youtube.com/channel/UCE7R2L16ql4Kt3fXSDr-T1w">TBSK管弦楽団 YouTube公式チャンネル</a></p>
<div id="playerContainer">読み込み中…</div>
<div id="dummyPlayer" style="display: none"></div>
<script>
  //黒魔術でplaylistの中身を取り出す
  const tag = document.createElement("script");
  tag.src = "https://www.youtube.com/iframe_api";
  const firstScriptTag = document.getElementsByTagName("script")[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  let player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player("dummyPlayer", {
      height: "0",
      width: "0",
      playerVar: {
        origin: location.protocol + "//" + location.hostname + "/",
      },
      events: {
        onReady: onPlayerReady,
        onStateChange: onPlayerStateChange,
      },
    });
  }
  function onPlayerReady() {
    player.cuePlaylist({
      listType: "playlist",
      list: "PLXEajGQu1KXTnTmRg2u71R_BetPp5bZET",
      index: 0,
    });
  }
  function onPlayerStateChange(event) {
    if (event.data === YT.PlayerState.CUED) {
      const videoIds = player.getPlaylist();
      player.destroy();
      displayVideos(videoIds);
    }
  }
  //playlistの中身を書き出す
  function displayVideos(videoIds) {
    const container = document.getElementById("playerContainer");
    container.innerHTML = "";
    videoIds.forEach(function (videoId) {
      container.innerHTML += '<div class="youtube-container"><iframe class="youtube" src="https://www.youtube.com/embed/' + videoId + '" frameborder="0" allow="encrypted-media" loading="lazy" allowfullscreen ></iframe></div>';
    });
  }
</script>
