<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v10.0"></script>
<div class="bnrL">
  <a class="twitter-timeline" height="500" href="https://twitter.com/tbsk_orchestra?ref_src=twsrc%5Etfw">Tweets by tbsk_orchestra</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <div style="width=100%;overflow:hidden">
  <div class="fb-page" data-href="https://www.facebook.com/Tbskorch/" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
    <blockquote cite="https://www.facebook.com/Tbskorch/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Tbskorch/">TBSK管弦楽団</a></blockquote>
  </div>
  </div>
</div>
